body{
    font-family: Arial, Helvetica, sans-serif;
  
    
    }
    
.pokemonButton_style {

    border: 1px black solid;
    height: auto;
    margin: 5px;
    list-style-type: none;
    background-color:purple ;
    color: beige;
    border-radius: 5px;
        
}


header{
  /* position: -webkit-sticky;  */
  position: sticky; 
  display: inline-block;
  top: 0;
  width: 100% ;
  /* z-index: 999; */
  box-sizing: border-box ;
  padding-block: 2px; 
  height: 10vh;
  padding: 2px;
  margin: 2px 2px 2px 2px ;
  
}

.pokemon-list {
    list-style-type: none;
    list-style-position: inside;
    border-radius: 10px;
    padding: 2px;
    max-width: 100%;
    height: 90vh;
    overflow:auto ;
 
}

/* Image responsiveness */
.pokemon-image{
float:right;
width: 25%;
height: auto;
}

.displayMessage {
  
  visibility:hidden ;
}

.loading-message {
  float:right ;
 
}


#modal-container {
  display: none;
  
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  
  /* to show it above other content */
  z-index: 999; 
  
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 
  
  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal-close {
  float: right;
  appearance: none ;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.list-types{
  text-align:left ;
  padding-left: 0;
  margin-left: 0;
}

.list-types-items{
  list-style-position: inside;
}

/* making page mobile tablet and desktop responsive*/
@media all and (max-width: 500px){

    h1 {
      font-size: 20px;
    }

    h2 {
      font-size: 10px;
    }

    .pokemonButton_style{
      font-size: 10px;
    }

  }

 
  @media all and (min-width: 500px ) and (max-width: 750px){
   
    .pokemon-list{
      display:grid;
      grid: auto /  auto auto;
    }
    h1 {
      font-size: 25px;
    }

    h2 {
      font-size: 15px;
    }

    .pokemonButton_style{
      font-size: 20px;
    }

  }
  
 
  @media all and (min-width: 750px){
       
    .pokemon-list{
      display:grid;
      grid: auto / auto auto auto auto;
    }
    
    .pokemonButton_style{
      font-size: 30px;
      }

      h1 {
        font-size: 35px;
      }
  
      h2 {
        font-size: 20px;
      }
  }

