body{
    font-family: Arial, Helvetica, sans-serif;
    
    }
  
  
.pokemonButton_style {

    border: 1px black solid;
    height: auto;
    margin: 5px;
    list-style-type: none;
    background-color:purple ;
    color: beige;
    border-radius: 5px;
        
}
header{
  position: -webkit-sticky; 
  position: sticky; 
  top: 0;
  width: 100% ;
  z-index: 999;
  box-sizing: border-box ;
  padding-block: 2px; 
  height: 10vh;
  padding: 2px;
  margin: 2px 2px 10px 2px ;
  

}

.pokemon-list {
    list-style-type: none;
    list-style-position: inside;
    border-radius: 10px;
    padding: 2px;
    max-width: fit-content;
    height: 90vh;
    overflow: auto;
 
}

.displayMessage {
  
  visibility:hidden ;
}

.loading-message {
  float:right ;
 
}

/* making page mobile tablet and desktop responsive*/
@media all and (max-width: 500px){

    h1 {
      font-size: 20px;
    }

    h2 {
      font-size: 10px;
    }

    .pokemonButton_style{
      font-size: 10px;
    }

  }
 
  @media all and (min-width: 500px ) and (max-width: 750px){
   
    .pokemon-list{
      display:grid;
      grid: auto /  auto auto;
    }
    h1 {
      font-size: 25px;
    }

    h2 {
      font-size: 15px;
    }

    .pokemonButton_style{
      font-size: 20px;
    }
    header{

      display:grid;
      grid: 10vh / 4fr 1fr;
           
    }
  }
  
  @media all and (min-width: 750px){
       
    .pokemon-list{
      display:grid;
      grid: auto / auto auto auto auto;
    }
    
    .pokemonButton_style{
      font-size: 30px;
      }
      header{

        display:grid;
        grid: 10vh / 4fr 1fr;
             
      }
      h1 {
        font-size: 35px;
      }
  
      h2 {
        font-size: 20px;
      }
  }
